# Dependency directories
node_modules/
jspm_packages/

# Build and compilation outputs
dist/
build/
out/
*.tsbuildinfo

# Environment variables and secrets
.env
.env.local
.env.*.local
*.env

# Debug and log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Testing and coverage output
coverage/
.nyc_output
html-report/

# IDE, Editors, and OS metadata
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

# Optional temporary runtime files
.npm
.eslintcache
.prettiercache

/src/generated/prisma
